# General .gitignore

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environment folder
myenv/
venv/
*.env

# Ignore SQLite database
*.db

# Ignore logs and temporary files
*.log
*.tmp
*.lock

# Ignore editor and IDE configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore Node.js modules (for React app)
finance/node_modules/

# Ignore build files (for React app)
finance/build/
finance/.cache/

# Ignore Yarn/ NPM lock files if not needed (optional)
finance/yarn.lock
finance/package-lock.json

# Ignore FastAPI migrations and cache
migrations/
instance/
